/*white color #E9EBEE */
/*blue text color #46938B */
body{
    font-family: 'Patua One', cursive;
    background:url('../img/bgg.jpeg')center/cover fixed no-repeat;
}

.info{
    background: #E9EBEE;
}


.primary-color{
    color:#46938B;
}

.info h2{
    word-spacing: 0.6rem;
}
.info a {
    transition: color 2s ease-in-out;
}

.info a:hover{
    color:#242424;
}
h1 strong{
    color: white;
}

#logo{
    height: 70px;
    width: 70px;
    margin-top: 1%;
    border: 2px double #6A4616;
    border-radius: 50%;
    box-sizing: content-box;
}
/*-----header------*/
#header{
    min-height: calc(115vh - 94px);
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.height-90{
        min-height: calc(100vh - 94px);
}

.banner h1 {
    border-top: 6px dotted orange;
    border-bottom: 6px dotted orange;
    margin-top: 2%;
    color: orange;
    animation: fromRight;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}


@keyframes fromLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.main-btn{
    color:orange;
    font-size: 2rem;
    border: 2px double orange;
    transition:all 1s ease-in-out;
    background-color: transparent;
    border-top-right-radius:35px;
}

.main-btn:hover{
    background-color: orange;
}

.denizati-btn{
    animation: fromRight;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}


@keyframes fromRight{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(-30px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.header-link{
 display: inline-block;
 position: absolute;
 bottom: 5%;
 left: 47%;
 background: orange;
 color:white;
 border-radius: 10px;
transition:all 1s ease-in-out;
animation:fromBottom;
animation-duration: 4s;
animation-iteration-count: infinite;
}

@keyframes fromBottom{
    0%{
        transform: translateY(-10px);
    }
    
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10);
    }
}

.header-link:hover{
    color:#6A4616;
    background-color: none;
}

@media only screen and (max-width: 390px) {
    .banner h1 {
        font-size: 5rem;
    }
}

/*========menu items=========*/
.item-container{
    position: relative;
    /*for the link*/
    overflow: hidden;
    background:linear-gradient(rgb(0,0,0),rgb(0,0,0));
    transition: all 2s ease;
}

.item-img {
    transition: all 2s ease;
}

.item-container:hover .item-img {
    transform: scale(1.2);
    opacity: 0.5;
}

.item-link {
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color:orange;
    font-size:2rem;
    border-top:3px solid orange;
    border-bottom:3px solid orange;
    transition: all 2s ease;
   /* opacity: 0; */
}

.item-container:hover .item-link {
 opacity: 1;
}












